/***********
*** UMUM ***
************/

body {
    /* background-image: url("/img/twitter-background.jpg"); */
    background-color: lightgrey;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/*************
*** HEADER ***
*************/

header {
    background-color: white;
}

header a {
    text-decoration: none;
    color: lightskyblue;
    text-align: center;
    grid-area: b;    
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'a b c';
}

#nav-bar-top {
    margin: 0;
    grid-area: a;
    padding-top: 20px;
    padding-left: 10%;
}

#nav-bar-top li {
    display: inline-block;
    list-style: none;
}

#nav-bar-top a {
    color: black;
    padding-right: 8px;
}

#nav-bar-search {
    grid-area: c;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'a b c d';
}

#search-box {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: lightblue;
    grid-area: a;
    color:white;
    margin: 20px 0px 20px 50px;
}

#submit-search {
    margin:21px 0px 20px 5px;
    grid-area: b;
}

#nav-bar-search li {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    padding-left: 20%;
    list-style: none;
}

#nav-bar-search img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding-left: 0px;
    border-radius: 50%;
    margin-left: 0px;
    grid-area: c;
}

#logout-button {
    display: block;
}

#tweet-button {
    display: block;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    margin: 20px;
    border: 2px solid transparent;
    background-color: lightskyblue;
    grid-area: d;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profile-dropdown {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightskyblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/***************
*** SECTION ***
***************/

section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* background-color: white; */
}

/* SECTION KIRI */
#background-img:nth-child(n+1) {
    width: 100%;
    height: 120px;
}

#photo-profile:nth-child(n+2) {
    width: 10%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
}

#profile-section {
    margin: 8px 8px 8px 0px;
    padding: 8px 8px 8px 8px;
    background-color: white;
    height: auto;
}

#profile-section li {
    display: inline-block;   
    padding-right: 12px;  
    margin-top : 10px; 
}

#profile-section a {
    color: black;
    text-decoration: none;
}

#profile-section h5 {
    margin : 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
}

#profile-section ul {
    padding : 10px 0px 0px 40px;
}

#trending-section {
    margin: 8px 8px 8px 0px;
    padding: 8px 8px 8px 12px;
    background-color: white;
    height: auto;
    
}

#trending-section a {
    color: skyblue;
    text-decoration: none;
}

#profile-name {
    margin-top: -50px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

#fullname-profile {
    margin-left: 120px;
    margin-top: -100px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

#username-profile {
    margin: 0px 0px 0px 120px;
    font-size: 15px;
}

/* SECTION TENGAH */
#tweetbox-section {
    background-color: white;
    margin:8px;
    padding: 2px;
    display: grid;
    grid-template-areas: 
    'a b';
}

#tweetbox-section img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding-left: 2px;
    border-radius: 50%;
    grid-area: a;
}

#tweet-box {
    box-sizing: border-box;
    background-color: lightskyblue;
    color: white;
    width: 98%;
    grid-area: b;
    margin: 15px 0px 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    padding-bottom: 70px;
}

#submit-tweet {
    display: block;
    border-radius: 2px;
    border: 2px solid transparent;
    margin-right: 4px;
    background-color: lightskyblue;
    color: white;
}

#feed-section {
    margin: 8px;
    background-color: white;
}

.tweet {
    background-color: white;
    display: grid;
    grid-template-areas: 
    'a a . b b b b b b e e'
    'a a c c c c c c c c c'
    '. . . d d d d d d d d'
    '. . . . . . f f f f f';
    /* grid-template-columns: repeat(10, 1fr); */
    border-bottom: 4px solid lightgray;
}

.tweet h3 {
    font-size: 18px;
    padding-left: 20px;
} 

.tweet a {
    text-decoration: none;
    color: black;
    grid-area: b;
    display: inline-block;
}

.tweet h4 {
    font-size: 15px;
}

.tweet img {
    grid-area: a;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 8px;
}

.tweet p {
    grid-area: c;
    padding-left: 20px;
}

.tweet video {
    width: 90%;
    grid-area: d;
}

.tweet span {
    grid-area: f;
}

.delete-button {
    border-radius: 10px;
    color: white;
    border: 2px solid transparent;
    background-color: lightskyblue;
    grid-area: e;
    width: 50px;
    height: 20px;
    font-size: 10px;
    margin: 18px 0px 8px 2px;
}


/* SECTION KANAN */
#follow-section {
    margin: 8px 0px 8px 8px;
    padding: 8px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    
}

#nav-bar-follow {
    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-areas: 
    "a a"
    "b c"
    "b d";
    margin: 0px 0px 0px 0px;
    border-bottom: 2px solid lightgray;
    
}

#nav-bar-follow p {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    margin: 0px 0px 0px 10px;
    height: 20px;
    grid-area: a;
}

#nav-bar-follow img {
    grid-area: b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0px 5px 10px;;
}

#nav-bar-follow h4 {
    margin: 20px 0px 0px 0px;
    grid-area: c;
    padding-left: 1px;
}

#follow-button {
    grid-area: d;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 5px 0px 8px 0px;
    background-color: lightskyblue;
    color: white;
}


/**************
*** FOOTER ***
**************/

footer {
    background-color: white;
    margin: 8px 0px 8px 8px;
    padding: 8px 0px 8px 8px;
    font-size: 13px;
    color: #A4A4A4;
}

#nav-bar-bottom li {
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
    list-style: none;
    font-size: 14px;
}
#copyright-text {
    font-size: 12px;
    text-align: left;
}


